.news {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: #78E185;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    z-index: 99;
}

.news h2 {
    writing-mode: vertical-lr;
    font-size: 1vw;
}

.nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 95%;
    left: 0;
    right: 0;
    margin: 2.5rem auto;
    z-index: 99;
}

.hamburger {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.hamburger h1 {
    margin-right: 2rem;
    font-weight: 500;
    font-size: 1.5rem;
}

.hero {
    font-size: 100%;
    padding-top: 20vh;
    padding-left: 5vw;
    padding-right: 10em;
    display: flex;
    justify-content: space-between;
}

.hero-text {
    max-width: 55%;
}

.hero h1 {
    font-size: 7rem;
    font-weight: 100;
    line-height: 6.5rem;
}

.hero h1 span {
    color: #78E185;
}

.hero p {
    font-size: 3rem;
    margin: 3.5rem 0rem;
    font-weight: 400;
    border-left: 7px solid #FF3C38;
    padding-left: 2rem;
}

.hero img {
    margin-top: 5rem;
    max-width: 30rem;
}

.game-slide {
    display: flex;
    flex-direction: row;
}

.unique-img {
    border-radius: 5rem;
    margin-left: -15rem;
}

.game-slide h2 {
    position: absolute;
    top: 80%;
    margin-left: 33vw;
    font-size: 5rem;
}

.game-slide h2 span {
    color: white;
}

.game-slide p {
    font-size: 3rem;
    max-width: 40rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.slide-text {
    margin-left: 5rem;
}