* {
  padding: 0;
  margin: 0;
}

html {
  /* font-size: 100%; */
  font-size: 0.8vw;
}

h1 {
  font-family: Bagnard;
}

h2 {
  font-family: Furore;
}

p {
  font-family: Metropolis;
}

.button {
  background-color: white;
  border: 7px solid #FF3C38;
  font-family: Furore;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}